body
{
	padding: 20px;
}

h1, .h1 {
    font-size: 1.3em;
	margin-top: auto;
}

h2, .h2 {
    font-size: 1.1em;
}

form
{
	padding: 20px;
}

div#standard
{
	font-family: monospace; font-size: 10px;
}

footer
{
	float: right; text-align: right; font-size: 10px;
}